<meta name="description" content="{{ page.title }}">
<meta charset="utf-8" /><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="shortcut icon" type="image/svg+xml" href="/assets/images/icon.svg">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">