<div class="flex flex-row gap-4 w-full justify-between">
    <div
        class="mb-2 min-w-[8rem] origin-bottom-right rounded-md border bg-popover/50 antialiased backdrop-blur-xs border-border/20 p-1 text-popover-foreground shadow-md transition-all w-full"
        data-locale-content
        role="menu"
    >
        <a
            href="{{ "/pl" | relative_url }}"
            role="menuitem"
            class="flex cursor-default select-none items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden hover:bg-accent hover:text-accent-foreground transition-all ease-in-out cursor-pointer text-xl not-prose font-semibold w-full flex justify-center"
        >
            <span>🇵🇱</span>
            <span>Polski</span>
        </a>
    </div>
    <div
        class="mb-2 min-w-[8rem] origin-bottom-right rounded-md border bg-popover/50 antialiased backdrop-blur-xs border-border/20 p-1 text-popover-foreground shadow-md transition-all w-full"
        data-locale-content
        role="menu"
    >
        <a
            href="{{ "/en" | relative_url }}"
            role="menuitem"
            class="flex cursor-default select-none items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden hover:bg-accent hover:text-accent-foreground transition-all ease-in-out cursor-pointer text-xl not-prose font-semibold w-full flex justify-center"
        >
            <span>🇬🇧</span>
            <span>English</span>
        </a>
    </div>
</div>
